<ion-header no-border>
 <div class="login-header ion-padding">
   <img class="logo-img" src="../../assets/login.png">
 </div>
</ion-header>

<ion-content>
<div class="center">
  <div heading-colum-lr>
    <h1 small-heading  (click)="Login()">Login</h1>
    <h2 big-heading>SIGN UP</h2>
  </div>

  <!-- <ion-label>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-label> -->

  <ion-item transparent>
    <!-- <img icon-small src="../../assets/login.png"> -->
    <ion-icon icon-small name="person-outline"></ion-icon>
    <ion-input [(ngModel)]="name" placeholder="Name" type="text"></ion-input>

  </ion-item>

  <ion-item transparent>
    <!-- <img icon-small src="../../assets/login.png"> -->
    <ion-icon icon-small name="mail-outline"></ion-icon>
    <ion-input [(ngModel)]="email" placeholder="Email" type="email"></ion-input>

  </ion-item>

  <ion-item transparent>
    <!-- <img icon-small src="../../assets/login.png"> -->
    <ion-icon icon-small name="lock-closed-outline"></ion-icon>
    <ion-input [(ngModel)]="password" placeholder="Passowrd" type="password"></ion-input>
  </ion-item>
<div linespace></div>
<ion-button color="primary" class="ion-button-class" shape="round" fill="solid" size="large" expand="block" (click)="SignUp()">SIGN UP</ion-button>
<ion-label class="ion-text-center">Have Account? <span class="link-button" (click)="Login()">Login</span></ion-label>
</div>
</ion-content>
