<ion-header>
  <ion-toolbar>
    <ion-title>Seller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content parallax-header no-bounce class="bg-modal">
    <div *ngFor="let Provider of managementService.listProvider; let i = index">
<div *ngIf="Provider._id==id_provider">


   
  <div class="header-image"> <img class="logo-img" src={{user.coverImage}}></div>
 
  <div class="main-content" text-wrap text-center>
    <!-- <img class="logo-img" src={{user.profileImage}}> -->
      <div class="circular">  <img class="logo-img" src={{Provider.logo}}></div>
      <h2>{{Provider.name}}</h2>
      <p>{{user.occupation}} &bull; {{Provider.location}}</p>
      <p class="profile-description">{{user.description}}</p>
      <hr>
      <ion-list no-lines>
          <ion-item  href="mailto:{{user.email}}">
              <ion-icon name="mail" color="primary" item-start></ion-icon>
              <p>Email: </p>
              {{user.email}}
              <!-- <ion-button href="mailto:{{user.email}}" color="primary" item-end medium>Open App</ion-button> -->
          </ion-item>
          <ion-item  href="tel:{{user.phone}}">
              <ion-icon item-start name="call" color="danger"></ion-icon>
              <p>Mobile: </p>
              {{Provider.phone}}
              <!-- <ion-button href="tel:{{user.phone}}" color="danger" item-end medium>Poke me</ion-button> -->
          </ion-item>
          <ion-item  href="whatsapp://send?text=Hi from ionic&phone=+{{user.phone}}&abid=+{{user.phone}}">
              <ion-icon item-start name="logo-whatsapp" color="secondary"></ion-icon>
              <p>Whatsapp: </p>
              {{Provider.phone}}
              <!-- <ion-button color="secondary" item-end medium href="whatsapp://send?text=Hi from ionic&phone=+{{user.phone}}&abid=+{{user.phone}}">Open App</ion-button> -->
          </ion-item>
          <ion-item href="{{user.address}}">
              <ion-icon item-start name="pin" color="twitter"></ion-icon>
              <p>{{user.address}}</p>
          </ion-item>
      </ion-list>
      <h2>Get in touch</h2>
      <hr>
      <ion-row>
          <ion-col size="4">
                <ion-icon href="Provider.social_insta" name="logo-instagram"></ion-icon>
          </ion-col>
          <ion-col size="4">
                <ion-icon href="Provider.social_fb" name="logo-facebook"></ion-icon>   
        </ion-col>
        <ion-col size="4">
                <ion-icon href="Provider.social_web" name="earth-outline"></ion-icon>
        </ion-col>
      </ion-row>

    
     
  </div>
</div>
</div>
</ion-content>