<ion-content class="container transparent-header">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div class="card-profile">
    <div class="card-profile_visual">  <img  [src] ="auth.profileData.imageUrl"></div>
    <div class="card-profile_user-infos">
      <span class="infos_name">{{auth.profileData.displayName}}{{auth.profileData.familyName}}</span>
      <span class="infos_nick">{{auth.profileData.email}}</span>
    <!-- <div (click)="goEditProfile()" class="iconedit"> <ion-icon  name="create-outline"></ion-icon> </div> -->
    </div>

    <ion-segment>

      <ion-segment-button (click)="goNotification()">
        <!-- <img src="../../../assets/categorie/categories.svg"> -->
        <ion-label>Notification</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="goForsa()">
        <!-- <img src="../../../assets/categorie/fashion.svg"> -->
        <ion-label>	Win </ion-label>
      </ion-segment-button>
  </ion-segment>
    <!-- <div class="card-profile_user-stats">
      <div class="stats-holder">
        <div class="user-stats">
          <strong>Tweets</strong>
          <span>{{user.tweets}}</span>
        </div>
        <div class="user-stats">
          <strong>Following</strong>
          <span>{{user.following}}</span>
        </div>
        <div class="user-stats">
          <strong>Followers</strong>
          <span>{{user.followers}}</span>
        </div>
      </div>
    </div> -->
    <div  *ngIf="status=='forsa'">
      <ion-card *ngFor="let post of posts">
        <ion-item>
          <ion-avatar item-start>
            <img [src]="auth.profileData.imageUrl">
          </ion-avatar>
          <!-- <h2 class="sticky">Forsa</h2> -->
          <p>{{post.code}}</p>
        </ion-item>
        <!-- <img [src]="post.postImageUrl" (click)="imageTapped(post)"> -->
        <ion-card-content>
          <p>{{post.date}}</p>
        </ion-card-content>
        <!-- <ion-row>
          <ion-col>
            <button ion-button color="purple" clear small icon-left (click)="like(post)">
                <ion-icon name='thumbs-up'></ion-icon>
                {{post.likes}} Likes
              </button>
          </ion-col>
          <ion-col>
            <button ion-button color="purple" clear small icon-left (click)="comment(post)">
                <ion-icon name='text'></ion-icon>
                {{post.comments}} Comments
              </button>
          </ion-col>
          <ion-col align-self-center text-center>
            <p>
              {{post.timestamp}}
            </p>
          </ion-col>
        </ion-row> -->
      </ion-card>
    </div>

    <div  *ngIf="status=='notification'">
      <ion-card *ngFor="let post of managementService.notification">
        <ion-item>
          <ion-avatar item-start>
            <img [src]="auth.profileData.imageUrl">
          </ion-avatar>
          <h2 class="sticky">{{auth.profileData.displayName}} {{auth.profileData.familyName}}</h2>
          <p>{{post.date}}</p>
        </ion-item>
        <!-- <img [src]="post.postImageUrl" (click)="imageTapped(post)"> -->
        <ion-card-content>
          <p>{{post.text}}</p>
        </ion-card-content>
        <!-- <ion-row>
          <ion-col>
            <button ion-button color="purple" clear small icon-left (click)="like(post)">
                <ion-icon name='thumbs-up'></ion-icon>
                {{post.likes}} Likes
              </button>
          </ion-col>
          <ion-col>
            <button ion-button color="purple" clear small icon-left (click)="comment(post)">
                <ion-icon name='text'></ion-icon>
                {{post.comments}} Comments
              </button>
          </ion-col>
          <ion-col align-self-center text-center>
            <p>
              {{post.timestamp}}
            </p>
          </ion-col>
        </ion-row> -->
      </ion-card>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button  class="pop-in" > <ion-icon  name="create-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="goEditProfile()" color="primary">
        <ion-icon  name="person-outline"></ion-icon>
      </ion-fab-button >
      <ion-fab-button (click)="goInterest()" color="danger">
        <ion-icon name="magnet"></ion-icon>
      </ion-fab-button >
    </ion-fab-list>
  </ion-fab>

</ion-content>