.filtre{
    // background-color: yellow;
    margin-right: 58px;
    display: block;
    margin-top: -39px;
    float: right;
    width: 30px;
  }
  .fav{
    margin-right: 20px;
    display: block;
    margin-top: -44px;
    float: right;
    width: 30px;
  }