<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="game">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Game</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="seller">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Seller</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categorie">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Categorie</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>