ion-segment {
    display: block;
    background-color: transparent; 
  }
//   img{
//     //    max-width: 60%;
//     //    max-height: 20%;
//     //   text-align: center;
//   }

.categorie{
  img{
    height: 29px;
  }
}