ion-segment {
    display: block;
    background-color: transparent; 
  }
//   img{
//     //    max-width: 60%;
//     //    max-height: 20%;
//     //   text-align: center;
//   }

.categorie{
  img{
    height: 45px;
    border-radius: 30%; 
    border: 3px blue inset;
  }
}
ion-label{
  font-size: 0.7em;
}