<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar animated ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides pager>
    <ion-slide>
      <img class="logo-img" src="../../assets/Home.jpg">
    </ion-slide>
    <ion-slide>
      <img class="logo-img" src="../../assets/Home.jpg">
    </ion-slide>
    <ion-slide>
      <img class="logo-img" src="../../assets/Home.jpg">
    </ion-slide>
  </ion-slides>
  <div >
  <img class="logo-img" src="../../assets/home/annonce.png">
</div>
<ion-button (click)="goCategorie()">Categorie</ion-button>

</ion-content>
