<ion-header>
  <ion-toolbar>
    <ion-title>favorie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card  class="item-ribbon shadowcard" *ngFor="let card of favorieArr ; let i = index" >
      <span class="ribbon javascript">
        <span>{{card.percentage}} %</span>
      </span>
      <img style="width: 400px; height: 300px;" [src]="card.image"(click)=" OffreDetails(i)"/>
      <div class="card-coupon">  <img src='../../../assets/article/seal2.png'> <p>200 <br>Forsa</p></div>
      <div class="card-fav" ><ion-icon (click)="fav(card)" *ngIf="favorie==0" name="heart-outline"></ion-icon><ion-icon (click)="notfav(card)" style="color: #f53d3d;" *ngIf="favorie==1" name="heart"></ion-icon></div>
      <div class="card-badge"><ion-badge color="danger">66</ion-badge></div>
  <div style="background-color: #b4d7ff;">
    <div class="card-title">{{card.title}}</div>
    <div class="card-subtitle">{{card.description}}</div>
    <div class="card-prix">{{card.price_after}} TND</div>
  </div>
     
     
    </ion-card>
  </ion-grid>
</ion-content>
